html
{
	background-color: #fff;
	font-family: Monotype Corsiva;
	font-size: 25px;
	
	

}
head
{

	font-family: Monotype Corsiva;
	font-weight: 2em;
}

.search
{
	width: 400px;

}
h4
{
 color: #47476B;
}
#t
{
	margin-right: 300px;
}

#menu
{
	background-color:#47476B;
}

#menu_wrapper
{
	width: 960px;
	margin: 0 auto;
	text-align: left;
	margin-left: 100px;
}

#menu ul
{
	list-style-type: none;
	padding: 0;
	margin: 0;
	position: relative;
}
#menu ul li
{
	display: inline-block;
}
#menu ul li:hover
{
background-color: #47476B;
}
#menu ul li a,visited
{
	color: #ccc;
	display: block;
	padding: 15px;
	text-decoration: none;
}
#menu ul li:hover ul
{
	display: block;
}
#menu ul ul
{
	display: none;
	position: absolute;
	background-color: #47476B;

}
#menu ul ul li
{
	display: block;
}
#menu ul ul li a,visited
{
	color: #ccc;
}
#menu ul ul li a:hover
{
	color: #099;
}
#corp
{
	width: 500px;
	margin: auto;

}
#druglist
{

	width: 500px;
	border: 1px solid #222;
}
#rightbar
{
	position: fixed;
	height: 100%;
	width: 22%;
	top: 0px;
	right: 0px;
	background-color: #B5B5CE;
	overflow: scroll;
	border-left: 2px solid #0A1429;
	/*background: url(zentel.jpg) 10px;
	*/
	
}

.content
{
	
	margin-left: 800px;
}
.rightbarh
{
  text-align: center;
  top: 0px;
}
#navbr
{
    position: absolute;
	height: 100%;
	width: 12%;
	
	left: 0px;
	background-color: #47476B;
	overflow: hidden;	
}
#centre_div
{
	height: 100%;
	width: 80%;
	
	
	float: right;
	background-color: #fff;
	overflow: hidden;
	margin-left: 300px;
	color: black;

}
nav a
{
	display: block;
	padding: 2px;
	text-decoration: none;
	font-size: 15px;
	color: #FFF;
	border-bottom: 1px solid #398659;
}
nav a:hover
{
	color: #099;
	text-decoration: none;
}
fieldset
{
	text-align: center;
}

#result
{
float: right;

}
